# Harmonize data catalogs: Optimize operations by navigating POS variability

<table align="left">
  <td>
<a href="https://colab.research.google.com/github/carloabimanyu/dsw-data-challenge-2023/blob/master/notebook.ipynb" target='_blank'>
      <img src="https://cloud.google.com/ml-engine/images/colab-logo-32px.png" alt="Colab logo"> Run in Colab
    </a>
  </td>
  <td>
<a href="https://github.com/carloabimanyu/dsw-data-challenge-2023/blob/master/notebook.ipynb" target='_blank'>
      <img src="https://cloud.google.com/ml-engine/images/github-logo-32px.png" alt="GitHub logo">
      View on GitHub
    </a>
  </td>       
</table>
<br/><br/><br/>

## Overview

This notebook demonstrate how to do text preprocessing and calculate similarity using specific vectorizer and distance measure to manage data catalog.

### Objective

By managing data catalog, we can reach following objectives:
- Operational Efficiency
- Data Integrity & Quality
- Aiding Decision-Making

### Dataset
Dataset used in this project are:
1. POS data: given datasets that contains product name across multiple POS
2. Data catalog: given datasets that contains standardized product name, brand, type, and formula
3. External data collection: collected fertilizer catalog from various resource

## Installation
Run following command to clone repository.

In [10]:
! git clone https://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@github.com/carloabimanyu/dsw-data-challenge-2023.git

Install sparse_dot_topn.

In [ ]:
! pip install sparse-dot-topn

### Import library and define constants

In [1]:
colab_path = '/content/dsw-data-challenge-2023/'

import sys
sys.path.append('./')
sys.path.append(colab_path)

import re
import numpy as np
import pandas as pd

from src import utils
from src.product import Product
from src.preprocessing import preprocessing_catalog, preprocessing_pos, preprocessing_external

config = utils.load_config()

# UNCOMMENT THIS IF RUN IN COLAB
# config['catalog_data_path'] = colab_path + config['catalog_data_path']
# config['pos_data_path'] = colab_path + config['pos_data_path']
# config['external_data_path'] = colab_path + config['external_data_path']

### Load dataset

In [18]:
catalog = pd.read_excel(config['catalog_data_path'], sheet_name=config['catalog_data_sheet'])
catalog = preprocessing_catalog.preprocessing(catalog)

pos = pd.read_excel(config['pos_data_path'], sheet_name=config['pos_data_sheet'])
pos = pos.dropna()
pos['Product Name'] = pos['Product Name'].apply(lambda name: Product(name))
pos = preprocessing_pos.preprocessing(pos)

external = pd.read_csv(config['external_data_path'])
external['Nama Produk'] = external['Nama Produk'].apply(lambda name: Product(name))
external = preprocessing_external.preprocessing(external, config)

In [19]:
catalog.head()

      Product SKU Brand  Type Formula
0      Urea Petro  PIHC  Urea     NaN
1        Urea PIM  PIHC  Urea     NaN
2     Urea Nitrea  PIHC  Urea     NaN
3  Urea Daun Buah  PIHC  Urea     NaN
4      Urea Pusri  PIHC  Urea     NaN

In [20]:
pos['Product SKU'] = pos.apply(lambda row: row['Name'] if pd.isnull(row['Formula']) else f'{row["Name"]}{row["Formula"]}', axis=1)
pos.head()

,Product Name,Name,Formula,Metrics,Product SKU
0,Pupuk Urea N 46%,Pupuk Urea N,None,46%,Pupuk Urea N
1,Pupuk Amonium Sulfat ZA,Pupuk Amonium Sulfat ZA,None,None,Pupuk Amonium Sulfat ZA
2,Pupuk Super Fosfat SP-36,Pupuk Super Fosfat SP36,None,None,Pupuk Super Fosfat SP36
3,Pupuk NPK Phonska,Pupuk NPK Phonska,None,None,Pupuk NPK Phonska
4,Pupuk NPK Formula Khusus,Pupuk NPK Formula Khusus,None,None,Pupuk NPK Formula Khusus

In [21]:
external.head()

  Brand                   Product SKU   Formula     Type
0  Yara  NPK 15-09-20 YARAMILA WINNER  15-09-20  Majemuk
1  Yara    NPK 16-16-16 YARAMILA UNIK  16-16-16  Majemuk
2  Yara    NPK 25-7-7 YARAMILA FASTER    25-7-7  Majemuk
3  Yara          NPK YARAMILA COMPLEX      None   Others
4  Yara           NPK YARAMILA PALMAE      None   Others

In [16]:
all_catalog = pd.concat([catalog, external], ignore_index=True)
all_catalog = all_catalog.reset_index(drop=True)

In [23]:
all_catalog = pd.concat(
    [
        all_catalog,
        pos.drop(columns=['Product Name', 'Name'])
    ],
    ignore_index=True
)

In [25]:
all_catalog.to_pickle('data/processed/catalog.pkl')

In [26]:
all_catalog.head()

      Product SKU Brand  Type Formula Metrics
0      Urea Petro  PIHC  Urea     NaN     NaN
1        Urea PIM  PIHC  Urea     NaN     NaN
2     Urea Nitrea  PIHC  Urea     NaN     NaN
3  Urea Daun Buah  PIHC  Urea     NaN     NaN
4      Urea Pusri  PIHC  Urea     NaN     NaN

## Calculate similarity
### sparse_dot_topn

In [14]:
all_catalog.head()

      Product SKU Brand  Type Formula
0      Urea Petro  PIHC  Urea     NaN
1        Urea PIM  PIHC  Urea     NaN
2     Urea Nitrea  PIHC  Urea     NaN
3  Urea Daun Buah  PIHC  Urea     NaN
4      Urea Pusri  PIHC  Urea     NaN

In [13]:
pos.head()

,Product Name,Name,Formula,Metrics,Text
0,Pupuk Urea N 46%,Pupuk Urea N,None,46%,Pupuk Urea N
1,Pupuk Amonium Sulfat ZA,Pupuk Amonium Sulfat ZA,None,None,Pupuk Amonium Sulfat ZA
2,Pupuk Super Fosfat SP-36,Pupuk Super Fosfat SP36,None,None,Pupuk Super Fosfat SP36
3,Pupuk NPK Phonska,Pupuk NPK Phonska,None,None,Pupuk NPK Phonska
4,Pupuk NPK Formula Khusus,Pupuk NPK Formula Khusus,None,None,Pupuk NPK Formula Khusus

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix
from src.similarity import spdt
from src.similarity.ngrams import ngrams

In [ ]:
all_catalog = pd.concat(
    [
        all_catalog,
        pos
    ]
)

In [9]:
products = pd.concat([all_catalog['Product SKU'], pos['Text']], axis=0, ignore_index=True).reset_index(drop=True)

vectorizer = TfidfVectorizer(min_df=2, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(products)

In [10]:
matches = spdt.awesome_cossim_top(
    tf_idf_matrix,
    tf_idf_matrix.transpose(),
    ntop=1000,
    lower_bound=0.6
)

In [11]:
matches_df = spdt.get_matches_df(matches, products, top=200)
matches_df = matches_df[matches_df['similarity'] < 0.9999]

In [12]:
matches_df.sample(10)

       left_side right_side  similarity
79    Urea Petro      UREA     0.629945
84    Urea Petro      Urea     0.629945
69    Urea Petro     urea      0.629945
132     Urea PIM      Urea     0.622444
125     Urea PIM      Urea     0.622444
93    Urea Petro      Urea     0.629945
74    Urea Petro       urea    0.629945
173  Urea Nitrea    Nitrea     0.832394
180  Urea Nitrea    Nitrea     0.832394
85    Urea Petro      Urea     0.629945

In [15]:
products.to_pickle('data/processed/catalog.pkl')

In [35]:
user_input = 'tawon'
all_products = pd.concat([pd.Series([user_input]), products], ignore_index=True)

vectorizer = TfidfVectorizer(min_df=2, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(all_products)

matches = spdt.awesome_cossim_top(
    tf_idf_matrix,
    tf_idf_matrix.transpose(),
    ntop=100,
    lower_bound=0
)

matches_df = spdt.get_matches_df(matches, all_products, top=200)
matches_df = matches_df[matches_df['similarity'] < 0.9999]

In [36]:
matches_df[matches_df['left_side'] == user_input]

   left_side       right_side  similarity
17     tawon       NPK tawon     0.803200
18     tawon       NPK Tawon     0.803200
19     tawon       NPK Tawon     0.803200
20     tawon       NPK Tawon     0.803200
21     tawon       NPK tawon     0.803200
..       ...              ...         ...
95     tawon        KSP tawon    0.615371
96     tawon       KSP Tawon     0.615371
97     tawon       KSP Tawon     0.615371
98     tawon   NPK Padi Tawon    0.614720
99     tawon  NPK Tawon 1616     0.613919

[83 rows x 3 columns]

In [41]:
products.sample(n=10)

31439                                   Hopper
33664                           HIPRO VITE  4
27669                                Energimex
11457                                prepathon
24868                                 PROMOXINE
20577                            Topshot 60 OD
22797                                     Urea
25207                           samsu kretek 12
32549    npk 161616  50 kg Rusia merah Pak Tani
6566                                     sennar
dtype: object