In [2]:
import pandas as pd

In [5]:
catalog = pd.read_excel('../data/raw/Product Catalog.xlsx', sheet_name='Product Catalog')
pos = pd.read_excel('../data/raw/Product Name from PoS Transactions.xlsx', sheet_name='Product Name')

In [6]:
catalog.head()

      Product SKU Brand  Type Formula
0      Urea Petro  PIHC  Urea     NaN
1        Urea PIM  PIHC  Urea     NaN
2     Urea Nitrea  PIHC  Urea     NaN
3  Urea Daun Buah  PIHC  Urea     NaN
4      Urea Pusri  PIHC  Urea     NaN

In [8]:
pos.head()

               Product Name
0          Pupuk Urea N 46%
1   Pupuk Amonium Sulfat ZA
2  Pupuk Super Fosfat SP-36
3         Pupuk NPK Phonska
4  Pupuk NPK Formula Khusus

In [37]:
x = catalog[~catalog['Formula'].isnull()].apply(lambda x: True if x['Formula'] in x['Product SKU'] else False, axis=1)
x = x[x == False]
x = x.index.tolist()
catalog.loc[x]

                                 Product SKU     Brand     Type   Formula
20                    Petro Niphos 20-20+13S      PIHC  Majemuk   20-20-0
21                     FERTIGRES  16-20+13S       PIHC  Majemuk   16-20-0
55                     MerokeCPN NK 15-15+TE   Mutiara  Majemuk   15-15-0
60                Mutiara GROWER 15-09-20+TE   Mutiara  Majemuk   15-9-20
68                      Mahkota NP 16-20-12S   Mahkota  Majemuk   16-20-0
83                       Saprodap  16-20+12S  Pak Tani  Majemuk   16-20-0
125  YaraMila WINNER 15-09-20+1.3MgO+3.4S+TE      Yara  Majemuk   15-9-20
172                      EMCOTE 15-15-6-4+TE   LaoYing  Majemuk   15-15-0

In [45]:
catalog['Brand'].unique()

array(['PIHC', 'Mutiara', 'Mahkota', 'Pak Tani', 'Yara', 'Tawon',
       'DGW/Hextar', 'BASF', 'LaoYing'], dtype=object)