In [3]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [4]:
catalog = pd.read_excel('../data/raw/Product Catalog.xlsx', sheet_name='Product Catalog')
pos = pd.read_excel('../data/raw/Product Name from PoS Transactions.xlsx', sheet_name='Product Name')

In [8]:
catalog.head()

      Product SKU Brand  Type Formula
0      Urea Petro  PIHC  Urea     NaN
1        Urea PIM  PIHC  Urea     NaN
2     Urea Nitrea  PIHC  Urea     NaN
3  Urea Daun Buah  PIHC  Urea     NaN
4      Urea Pusri  PIHC  Urea     NaN

In [6]:
catalog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product SKU  187 non-null    object
 1   Brand        187 non-null    object
 2   Type         187 non-null    object
 3   Formula      123 non-null    object
dtypes: object(4)
memory usage: 6.0+ KB

In [10]:
pos.head()

               Product Name
0          Pupuk Urea N 46%
1   Pupuk Amonium Sulfat ZA
2  Pupuk Super Fosfat SP-36
3         Pupuk NPK Phonska
4  Pupuk NPK Formula Khusus

In [5]:
catalog['Product SKU'].str